@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  font-size: 62.5%;
  --main-color-b: #000;
  --main-color-w: #fff;
  --font-s: "Playfair Display", serif;
  --font-ss: "Roboto", sans-serif;
  --font-ko: "Pretendard Variable", Pretendard;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}
/* ******************** top-nav ******************** */
/* ******************** top-nav ******************** */
#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 30;
  transition: transform 0.5s ease;
  will-change: transform;
  background: #fff;
}
#header.hide {
  transform: translateY(-15vh);
  pointer-events: none;
}
.top-nav .nav {
  position: absolute;
  font-family: "Roboto", sans-serif;
  top: 50%;
  font-size: 1.6rem;
  font-weight: 650;
}
.top-nav .home {
  left: 2.083333333333333%;
}
.top-nav .n01 {
  left: 18.22916666666667%;
}
.top-nav .n02 {
  left: 42.44791666666667%;
}
.top-nav .n03 {
  left: 66.77083333333333%;
}
.top-nav .about {
  right: 2.0833%;
}
/* ******************** 마우스 ******************** */
/* ******************** 마우스 ******************** */
.black-circle {
  width: 12px;
  height: 12px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  opacity: 0.8;
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  margin-left: -6px;
  margin-top: -6px;
  transform-origin: 50% 50%;
  pointer-events: none;
  cursor: none;
  will-change: transform;
}
.ghost {
  position: fixed;
  left: 0;
  top: 0;
  transform-origin: center center;
  pointer-events: none;
  z-index: 998;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hippo {
  display: none;
}

.inner-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.1px;
  height: 0.1px;
  background: #e6e6e6;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.15);
  opacity: 0.3;
  transition: transform 1s cubic-bezier(0.4, 1.4, 0.6, 1),
    opacity 0.25s cubic-bezier(0.4, 1.4, 0.6, 1), box-shadow 0.25s;
  pointer-events: none;
}

body.hovering .black-circle .inner-circle {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  width: 8px;
  height: 8px;
  box-shadow: 0 0 18px 6px rgba(255, 255, 255, 0.35), 0 0 2px 1px #fff;
}

::selection {
  background: #000;
  color: #fff;
}

